{% set title = title|default('') %}

{% set button = button|default(null) %}

{% set products = products|default(null) %}

{% if products is not empty %}
<div class="pt-[56px] pb-[68px] pl-[24px] md:pl-[48px] xl:pt-[68px] xl:pb-[104px] lg:px-0 lg:container lg:mx-auto">
	<div class='pb-6 text-theme-dark h2 '>{{ title }}</div>
	<div class='CrossSelling slider'>
		{% for product in products %}
			{% include '@components/Organisms/Card/SimpleProduct/SimpleProduct.html.twig' with {title: product.productTitle, button: { href: product.productLink, label: "Voir le produit" }} %}
		{% endfor %} 
	</div>
  {% if button %}
	<div class='mt-5'>
		{% include '@components/Molecules/Button/Button.html.twig' with {text: button.label, href: button.href,icon_right:'chevron-right', variant:'secondary'} %}
	</div>
  {% endif %}
</div>
{% endif %}
