<div class="block-{{type.id}} flex flex-col md:flex-row gap-4 md:gap-8">
	{% for column in data  %}
		{% set columnContain = [] %}
		{% set renderTemplates = [] %}

		{% for block in column  %}
			{% if block.type.id %}
				{% set columnContain = columnContain|merge([block.type.id]) %}
				{% set renderTemplates = renderTemplates|merge([include('./blocks/' ~ block.type.id ~ '.html.twig', {
                  data: block.data, 
                  type: block.type
                })]) %}
			{% endif %}
		{% endfor %}

		<div class="md:flex-1" data-tb-contain="{{columnContain|join(' ')}}">
			{{renderTemplates|join(' ')|raw}}
		</div>
	{% endfor %}
</div>
