.ItemHeader {
  @screen lg {
    @apply paragraph-1 no-underline outline-none text-black flex items-center justify-center relative;
    color: var(--theme-dark);
    padding: 18px 0px;
    &:after {
      @apply h-[2px] w-full bg-theme-dark bottom-0 left-0 absolute;
    }
    &:hover {
      color: var(--theme-darkest);
    }
    &:hover,
    &:focus,
    &:active {
      &:after {
        content: '';
      }
    }
  }
  @screen xl {
    padding: 23px 0px;
  }

  &-sub {
    position: relative;
    background-color: var(--white);

    &:focus,
    &:hover {
      .ItemHeader-sub-list {
        opacity: 1;
        animation-name: none;
      }
    }

    &-current {
      position: relative;
      cursor: pointer;
      outline: none;
      height: 100%;

      &:focus + .ItemHeader-sub-list .ItemHeader-sub-option {
        cursor: pointer;
      }
    }

    &-value {
      display: inline-flex;
      height: 100%;
    }

    &-input {
      display: none;

      &:checked + .ItemHeader-sub-text {
        display: flex;
      }
    }

    &-text {
      /* @apply paragraph-4;
      display: none;
      width: 100%;
      padding: rem-convert(16px) rem-convert(44px) rem-convert(16px)
        rem-convert(16px);
      align-items: center;
      color: var(--black); */
    }

    &-list {
      background-color: white;
      position: absolute;
      z-index: 50;
      list-style: none;
      opacity: 0;
      transition: 0.2s ease all;
      box-shadow: 0px 4px 8px 0px rgba(40, 40, 40, 0.15);
      animation-name: HideList;
      animation-duration: 0.2s;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;
      animation-timing-function: step-start;

      /* Navigation au clavier */
      &:has(.ItemHeader-sub-option:focus) {
        opacity: 1;
        animation-name: none;
      }
    }

    &-listItem {
      width: 100%;
    }

    &-option {
      font-size: 1rem;
      width: max-content;
      background-color: var(--white);
      padding: rem-convert(16px) rem-convert(44px) rem-convert(16px)
        rem-convert(16px);
      display: flex;
      justify-content: flex-start;
      color: var(--theme-dark);
      outline: none;
      text-decoration: none;

      &:hover,
      &:focus-visible {
        color: var(--theme-darkest);
      }
    }
  }
}
