{% set title = title|default('') %}
{% set image = image|default({url: '/images/placeholder.png', alt:''}) %}


<div class="Hero">
<div class="Hero-imageContainer">
  <img src="{{ image.url | default('images/placeholder.png') }}" alt="{{ block.alt | default('Hero Image') }}" loading="lazy" class="Hero-image w-full">
  </div>
  <div class="h0 Hero-title">{{title}}</div>
</div>
</div>
