{% set title = title|default('') %}
{% set achievements = achievements|default([]) %}
{% set button = button|default({label:"", href:""}) %}
<div class=" my-[80px] lg:my-[168px]">
	<div class='pb-[40px] text-theme-dark h2 md:text-start'>{{ title }}</div>
	<div class='Achievements grid grid-cols-1 md:grid-cols-3'>
		{% for achievement in achievements %}
		<div class="Achievement">
    {% include '@components/Organisms/Card/SimpleProduct/SimpleProduct.html.twig' with {title: achievement.title, button: { href: achievement.link, label: "Voir le produit" }, withoutText: true, img: achievement.img|default({url: "/images/placeholder.png", alt:"placeholder"})} %}</div>		{% endfor %}
	</div>
	<div class="text-center md:text-start Achievements-button">
	{% include '@components/Molecules/Button/Button.html.twig' with {text: button.label, href: button.href,icon_right:'chevron-right', variant:'secondary', classes: "mt-5", fill: true} %}
	</div>
</div>
