{% set title = title|default('') %}
{% set achievements = achievements|default([]) %}
{% set button = button|default({label:"", href:""}) %}

<div class="px-6 py-20  md:px-12 md:pr-0 lg:px-0 lg:container">
	<div class='pb-6 text-black h2 text-center md:text-center md:text-start'>{{ title }}</div>
	<div class='Achievements slider'>
		{% for achievement in achievements %}
		<div class="achievement">
    {% include '@components/Organisms/Card/SimpleProduct/SimpleProduct.html.twig' with {title: achievement.productTitle, button: { href: achievement.productLink, label: "Voir le produit" }, withoutText: true} %}</div>		{% endfor %}
	</div>
	<div class="text-center md:text-start Achievements-button">
	{% include '@components/Molecules/Button/Button.html.twig' with {text: button.label, href: button.href,icon_right:'chevron-right', variant:'secondary', classes: "mt-5", fill: true} %}
	</div>
</div>
